<!DOCTYPE html>
<html>
  <head>
    <title>Concerts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "sprockets/application" %>
  </head>

  <body>
    <div class="body">
      <%= render partial: 'demo/header' %>
      <%= render partial: 'shared/flash_messages' %>
      <%= yield(:common_info) %>
      <%= yield %>
      <%= render partial: 'demo/footer' %>
    </div>
  </body>
</html>
