<doc xmlns="https://hyperview.org/hyperview">
  <screen>
    <styles>
      <%# Body Styles %>
      <%= render partial: "shared/mobile/styles/main_application_styles" %>
      <%# Header Styles %>
      <%= render partial: "shared/mobile/styles/header_styles" %>
      <%# Custom Page Styles %>
      <%= yield :style %>
    </styles>
    <body style="Body">
      <%= render partial: 'layouts/mobile_header' %>
      <view style="Content">
        <%= yield %>
      </view>
    </body>
  </screen>
</doc>

